<!DOCTYPE html>
<html lang="en">
<head>
<!-- SEO -->
<link rel="stylesheet" type="text/css" href="styles.css" />
<meta name="google" content="notranslate" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>SaaSduo — Share us your demands</title>
<link rel="icon" href="https://cdn.glitch.global/4d7db198-d06b-43a0-a17b-b43d16d2bbce/Favicon%20SaaSduo%20Sept%202023.png?v=1694096820084"/>
<link rel="canonical" href="saasduo.com" />
<meta name="description" content="Public Contact Form" />
<meta property="og:title" content="SaaSduo — Share us your demands" />
<meta property="og:type" content="article" />
<meta property="og:url" content="saasduo.com" />
<meta property="og:description" content="Public Contact Form"/>
<meta property="og:image" content="https://cdn.glitch.global/4d7db198-d06b-43a0-a17b-b43d16d2bbce/SaaSduo%20SEO.png?v=1693254863799" />
<meta name="twitter:card" content="Public Contact Form" />
  
  <meta name="robots" content="noindex">

<!-- CSS -->
<link rel="stylesheet" href="/style.css" />

<!-- JS -->
<script src="/script.js" defer></script>
</head>
  
  
  
  
  
  <body>




    


    
    
    

    
    
    
        <div class="priceblock">
      <br><br>
      <a href="https://saasduo.com/customer-platform/" ><img
        src="https://cdn.glitch.global/4d7db198-d06b-43a0-a17b-b43d16d2bbce/SaaSduo%20Logo.svg?v=1693315892152"
        class="logoflatty"
      /></a>
      
                  <p class="priceblockTXT">Share us your demands</p>

              <p class="priceblockTXT2">
These details help us analyze your guidelines — we typically reply within a day
        </p>
      
      <br>
          
          
          <div class="form-containercontact">
            
            
            <br> <br> 
  <input
    type="text"
    class="input-fieldfix1"
    placeholder="Enter your business email"
           oninput="this.value = this.value.toLowerCase();"
         autocomplete="off"
  required
  />
       <br> <br>     
              <input
    type="text"
    class="input-fieldfix1"
    placeholder="Enter your phone number"
  oninput="formatPhoneNumber(this);"
     maxlength="15"
autocomplete="off"
                       required
  />
            
<script>
function formatPhoneNumber(input) {
  let phoneNumber = input.value.replace(/\D/g, '');
  phoneNumber = phoneNumber.replace(/(\d{3})(?=\d)/g, '$1 ');
  phoneNumber = phoneNumber.substring(0, 15);
  input.value = phoneNumber;
}
</script>


            
                   <br> <br>    <br>      <br>     
             <div class="uniplasse">
            <button class="justriding">Requirements and ideas</button>

<textarea
    class="input-fieldfix193"
    placeholder="Fill in this field (required)"
    style="height: 210px; resize: none;"
              oninput="limitTextarea(this, 280);"
           required

></textarea>
               <script>
function limitTextarea(element, maxLength) {
    if (element.value.length > maxLength) {
        element.value = element.value.slice(0, maxLength);
    }
}
</script>
</div>
                        

            
            

            
            
            
                        <div class="prime2">
              
                              <p class="blue-txt932x">
                  
                Choose project category</p>
            
<div class="button-containerxxx">
            <input type="radio" name="choix" id="bouton1" >
            <label for="bouton1">Internal Platform</label>
        </div>
        <div class="button-containerxxx">
            <input type="radio" name="choix" id="bouton2">
            <label for="bouton2">Critical Features App</label>
        </div>
        <div class="button-containerxxx">
            <input type="radio" name="choix" id="bouton3">
            <label for="bouton3">Mobile App</label>
        </div>
                    <div class="button-containerxxx">
            <input type="radio" name="choix" id="bouton4">
            <label for="bouton4">Enterprise Software</label>
        </div>
                                <div class="button-containerxxx">
            <input type="radio" name="choix" id="bouton5">
            <label for="bouton5">User Experience SaaS</label>
        </div>
             </div>
                   <br>     <br>   
            
            <div class="prime">
              
              
              
                              <p class="blue-txt932">
                  
                  By submitting your request, you agree to be contacted by phone or email

</p>

    <a href="https://saasduo.com/2973927302738923729376287352932693287325327323592352673823/">
        <button class="red-price-button" id="loading-button">
            <span class="button-text">Send my request</span>
            <span class="loaderx"></span>
        </button>
    </a>
              
              </div>  
                <p class="blue-txt93">
                  
                  This site is protected by reCAPTCHA and the <a href="https://saasduo.com/customer-platform/" class="blue-link">Google Privacy Policy</a> and <a href="https://saasduo.com/customer-platform/" class="blue-link">Terms of Service</a> apply. Copyright © 2023 North Standard Infracom, LTD. All rights reserved.

                  
                  <br><br>
                  
                  Already have an account? <a href="https://saasduo.com/customer-platform/" class="blue-link">Log in</a></p>

</div>
          
          
      
      <br><br><br><br><br>
    </div>    
    
 
    
    
    

    


    
    


    
    
    

    


    
    
    

    
    

    
    
    
    


  </body>

  <script>
    if (location.protocol != "https:") {
      location.href =
        "https:" +
        window.location.href.substring(window.location.protocol.length);
    }
  </script>
</html>
